.CustomerDetails {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
  direction: rtl;

  h2 {
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }

  h3 {
    margin-bottom: 1.5rem;
    color: #666;
    font-size: 1.2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
  }

  p {
    margin: 0.8rem 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;

    input {
      margin-top: 0.3rem;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      transition: border 0.2s;

      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  }

  button {
    margin-top: 1.5rem;
    padding: 0.6rem 1.2rem;
    background-color: #5e2c04;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;

    &:hover {
      background-color: #452101;
    }
  }
}