.Purchase {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #f9f4ef, #e6ded1);
  font-family: 'Assistant', sans-serif;
  direction: rtl;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 350px;
  width: 100%;
  color: #5c4b35;
}

.card h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #6b4f3b;
}

.card p {
  font-size: 1rem;
  margin: 0.4rem 0;
}
